#sec1 {
    border-radius: 100rem 100rem 100rem 100rem / 20rem 20rem 6rem 6rem;
    background: linear-gradient(to right, hsla(40, 100%, 70%, 1) 0%, rgb(244, 92, 67) 50%, hsla(40, 100%, 70%, 1) 100%);
    width: 100vw;
    right: 0;
    border-radius: 0;
    clip-path: ellipse(calc(50% + 40rem) 50% at 50% 50%);
}

#sec1 .contSec1 {
    padding-bottom: 3rem;
    width: 100vw;
    border-radius: 0;
    clip-path: ellipse(calc(50% + 30rem) 54% at 50% 45%);
}

@media (max-width: 425px) {
    #sec1 .sectionTitleText {
        font-size: 1.2rem;
    }
}

@media (max-width: 766px) {

    #sec1 .contSec1 {
        padding-top: 6rem;
    }

    #sec1 .capa::after {
        top: -3rem;
    }

    #sec1 .sectionTitleText {
        top: -1rem;
    }
}

#capaSec2 {
    height: 60vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    margin: -5rem 0;
}

#capaSec2 img {
    object-fit: cover;
    height: 100%;
    width: 100vw;
    transform: translateZ(-10px) scale(1.5);
}

#artigos {
    width: 100vw;
    background: linear-gradient(to right, hsla(40, 100%, 70%, 1) 5%, rgb(244, 92, 67) 50%, hsla(40, 100%, 70%, 1) 95%);
    clip-path: ellipse(calc(50% + 70rem) calc(50% + 2.3rem) at 50% 57%);
}

.fundoGradiente {
    width: 100vw;
    padding: 8rem 0;
    background: radial-gradient(hsla(55, 100%, 97%, 1)-30%, hsla(245, 100%, 95%, 1)150%);
    clip-path: ellipse(calc(50% + 50rem) calc(50% + 2rem) at 50% 57%);
    display: grid;
    justify-content: center;
}

#listaDeArtigos {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-auto-columns: 50px;
    grid-auto-rows: 170px;
    grid-gap: 1rem;
    width: 100vw;
    max-width: 1040px;
}

.artigo {
    background: hsla(0, 100%, 70%, 1);
    width: 100%;
    height: 100%;
}

.artigo1 {
    grid-column: span 2;
    grid-row: span 2;
}

.inputs {
    visibility: hidden;
    position: absolute;
}

#artigo1:checked~.modalFundo,
#artigo2:checked~.modalFundo,
#artigo3:checked~.modalFundo,
#artigo4:checked~.modalFundo {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: red;
    z-index: 300;
    display: grid;
    place-items: center;
    box-sizing: border-box;
    transform-style: preserve-3d
}

.modalMolde {
    width: calc(100vw - 2rem);
    height: calc(100vh - 2rem);
    box-sizing: border-box;
    transform-style: preserve-3d;
}

#artigo1:checked~.modalFundo .modalMolde dialog:nth-child(1),
#artigo2:checked~.modalFundo .modalMolde dialog:nth-child(2) {
    width: 100%;
    height: -webkit-fill-available;
    display: grid;
    grid-template-columns: [fundo-start] 1fr [fundo-end];
    grid-template-rows: [fundo-start] 40vh 1fr 1fr [fundo-end] ;
    grid-template-areas: 'close''text''text';
    background: #fff;
    perspective: 1px;
}

dialog .closeModal {
    grid-area: close;
    justify-self: flex-end;
    font-size: 1.1em;
    color: #000;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background: #fff;
    text-align: center;
    padding: .6rem;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
    z-index: 90;
    line-height: 1rem;
}

dialog img {
    grid-area: fundo;
    width: 100%;
    min-height: 40vh;
    object-fit: cover;
    object-position: top;
}

dialog .text {
    display: grid;
    grid-area: text;
    padding: 2rem;
    background: linear-gradient(to top, white 95%, rgba(255, 255, 255, 0.8)100%);
    border-radius: 1rem 1rem 0 0;
    justify-content: center;
    align-content: start;
    max-width: max-content;
    place-self: center;
    transform: translateZ(-0.1px);
}

dialog h1 {
    text-align: center;
}

dialog .paragraph {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 460px));
    grid-gap: 2rem;
    justify-content: center;
    width: 100%;
    max-width: 1040px;
}