/* I - Modal1 */
.modal input:nth-child(1):checked~section:nth-child(2),
.modal input:nth-child(1):checked~section div:first-child {
  top: 0;
  opacity: 1 !important;
  z-index: 300 !important;
}

.closeModal {
  position: fixed;
  text-decoration: none;
  font-size: 1.1em;
  font-family: monospace;
  color: #000;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background: #fff;
  text-align: center;
  padding: 0.6rem;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin: 10px .5rem 0 -10px;
  z-index: 300;
}

.closeModal:hover {
  cursor: pointer;
  color: hsla(0, 100%, 70%, 1);
  transition: all 0.5s;
}

.topoModalData {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 1rem;
  text-shadow: 0px 0.5px 48px rgba(0, 0, 0, 0.2);
}

.topoModalData h1 {
  font-size: 4rem;
  font-family: Oswald;
  line-height: 1;
}

.topoModalData h2 {
  font-size: 2.5rem;
  font-family: Oswald;
}

.corpoModal .eventoNome {
  font-family: roboto condensed;
  font-weight: 100;
  background: linear-gradient(to right,
      hsla(0, 100%, 70%, 1),
      hsla(230, 10%, 40%, 1) 60%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.2rem;
  letter-spacing: -0.05rem;
  padding-bottom: .5rem;
}

.corpoModal h3 {
  margin-bottom: 0.4rem;
  font-family: roboto condensed;
  font-size: 1.3rem;
  color: hsla(230, 10%, 40%, 1);
}

.corpoModal a {
  text-decoration: none;
  font-family: roboto condensed;
  font-size: 1.2rem;
  color: hsla(200, 100%, 40%, 1);
  margin-bottom: 3rem;
}

.corpoModal .spanModal {
  font-family: roboto condensed;
  font-size: 1.2rem;
  color: #000;
  font-weight: 300;
}

.corpoModal address span {
  font-size: 1.2rem;
}

.corpoModal hr {
  color: #eee;
  border: 1px solid;
  margin: 0.8rem 0;
}

.corpoModal {
  padding: 2rem;
  text-align: center;
  height: 30rem;
}

.corpoModal a:hover {
  color: hsla(200, 100%, 40%, 1) !important;
}

.fundoModal {
  width: 100%;
  background: hsla(230, 10%, 40%, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0;
  z-index: 0;
  transition: all 0.5s ease;
}

.molduraModal {
  width: 25rem;
  max-width: 520px;
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  background: #f9f9f9;
  top: -100vh;
  overflow-y: auto;
  box-shadow: 0 1px 70px 0 rgb(60, 64, 67), 0 1px 3px 1px rgba(60, 64, 67, 0.5);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 767px) {
  .molduraModal {
    top: 0 !important;
    position: relative;
    overflow-x: hidden;
    border-radius: 0;
    height: 100vh;
  }

  .corpoModal {
    padding: 2rem 1rem;
    text-align: center;
  }
}

/* F - Modal1 */

#sec1 .contSec1 {
  padding-top: 10rem;
}

#sec1 .cards {
  z-index: 0;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(180px, 180px));
  width: calc(100vw - 5rem);
  place-items: center;
  place-content: center;
  place-self: center;
  max-width: 1060px;
}

@media (max-width: 767px) {
  #sec1 .cards {
    width: calc(100vw - 2em);
  }
}

#sec1 .cards h1 {
  font-size: 1.5rem;
  z-index: 4;
  font-family: overlock;
  font-weight: bold;
  text-align: center;
  align-self: center;
  padding-top: 1rem;
  letter-spacing: -0.03rem;
  background: linear-gradient(22deg, hsla(40, 100%, 70%, 1), hsl(0, 100%, 70%));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#sec1 .cards h1 span {
  font-weight: normal;
  background: hsla(230, 10%, 40%, 1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.4rem;
  top: 0.4rem;
  position: relative;
}

#sec1 .cards hr {
  width: 100%;
  opacity: 0.6;
  position: relative;
  top: 11px;
  color: #ccc;
  border: 0.03rem solid;
}

#sec1 .cards a {
  text-decoration: none;
  color: unset;
}

#sec1 .card {
  width: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding-bottom: 2rem;
}

#sec1 .card img {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.16), 0 1px 3px 1px rgba(60, 64, 67, 0.24);
  transition: all 0.5s;
}

#sec1 .card p {
  margin-top: 1.5rem;
}

#sec1 .card::after {
  content: "";
  height: 42px;
  background: transparent;
  position: relative;
  border-radius: 52rem 50rem 11rem 11rem / 2rem 1rem 12rem 12rem;
  width: 90vw;
  border-top: 3px solid hsla(40, 100%, 70%, 1);
  transform: rotate(1deg) translateY(-4.5rem) scaleX(0);
  top: 5rem;
  max-width: 10rem;
  transition: 0.4s 0.1s;
  opacity: 0;
}

#sec1 .card:hover img {
  transform: translateZ(0.05rem);
}

#sec1 .card:hover::after {
  opacity: 1;
  transform: rotate(1deg) translateY(-4.5rem) scaleX(1);
}

.meses {
  background: #fff;
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: 0 1px 1px 0 rgb(255, 255, 255), 0 1px 3px 1px rgba(162, 162, 162, 0.5);
  margin-top: .5rem;
}

.datas {
  display: inline-flex;
  width: 100%;
  max-width: 23rem;
  justify-content: space-between;
  align-items: center;
}

.datas p {
  font-weight: 500;
}

/* .datas p:first-child {
  background: hsla(200, 100%, 40%, 1);
  position: relative;
  padding: 0.5REM 1rem;
  border-radius: 2rem;
  color: #fff;
} */

.topoModal {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.corpoTopo {
  padding-bottom: 2rem;
}